#light {
  background-color: #f3ebf6;
}

#dark {
  background-color: #46045e;
}

.text {
  width: 30rem;
  height: 7rem;
  padding: 20px;
}

#light .text {
  color: black;
}

#dark .text {
  color: #ffff;
}