#light {
  background-color: #f3ebf6;
}

#dark {
  background-color: #46045e;
}

.text {
  width: 30rem;
  height: 7rem;
  padding: 20px;
}

.switch {
  display: flex;
  align-items: center;
  padding: 20px;
}

.lb {
  padding-right: 10px;
}

#light .switch {
  color: #000;
}

#dark .switch {
  color: #ffff;
}

#light .text {
  color: #000;
}

#dark .text {
  color: #ffff;
}